 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <!--don't change these links to .html-->
                          <!--they must not have an extension-->
                        <a class="page-scroll" href="{{site.baseurl}}/">Home</a>
                    </li>
                    <li>
                        <!--don't change these links to .html-->
                          <!--they must not have an extension-->
                        <a class="page-scroll" href="{{site.baseurl}}/news_main">News</a>
                    </li>                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/people/">People</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Research <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ><a class='sub-menu-option' href="{{site.baseurl}}/research">Research Overview</a></li>
                            <li ><a class='sub-menu-option' href="{{site.baseurl}}/publications">Publications</a></li>
                            <li ><a class='sub-menu-option' href="{{site.baseurl}}/datavis">Data and Visualizations</a></li>
                            <li ><a class='sub-menu-option' href="{{site.baseurl}}/services">Services</a></li>
                        </ul>

                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/courses">Courses</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/opportunities">Prospective Students</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
