<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}

    <h2 class='page-header'>People in the Lab</h2>

<div class='container'>
    <!-- PIs.  Use list just in case we want to add another prof -->
    {% assign professors = site.people | where:'role', 'Professor' | sort:'seniority' %} <!-- select from the templates -->
    {% for person in professors %} <!-- iterate through the matching professors -->
    <h4 class='page-header name-header'>{{ person.name }}</h4>
    <img src="{{site.baseurl}}/img/bio_img/{{person.photo}}"  class='img-responsive col-xs-2'/>
    <p class='col-xs-10'>
      {{person.biography}}
    </p>
     {% if person.website %}
        <a href="{{person.website}}">Website</a> |
	       {% endif %}
     {% if person.orcid %}
        <a href="{{person.orcid}}">Orcid</a> |
         {% endif %}
     {% if person.googlescholar %}
        <a href="{{person.googlescholar}}">Scholar</a> |
   	    {% endif %}
     {% if person.researchgate %}
        <a href="{{person.researchgate}}">ResearchGate</a> |
      	{% endif %}
    {% if person.github %}
           <a href="{{person.github}}">GitHub</a> |
         	{% endif %}
     {% if person.linkedin %}
        <a href="{{person.linkedin}}">LinkedIn</a> |
        {% endif %}
     {% if person.twitter %}
        <a href="{{person.twitter}}">Twitter</a> |
        {% endif %}
     {% if person.email %}
        <a href="mailto:{{person.email}}">Email</a>
        {% endif %}
    {% endfor %}
     <!--  end professor loop -->

     <h3 class='page-header section-header'>Research Scientists and Postdoctoral Researchers</h3>
     <!-- do postdocs now -->
     {% assign postdocs = site.people | where:'role', 'Postdoc' | sort:'seniority' %} <!-- select from the templates for postdocs -->
     {% for person in postdocs %} <!-- iterate through the matching postdocs -->
     <h4 class='page-header name-header'>{{ person.name }}</h4>
     <img src="{{site.baseurl}}/img/bio_img/{{person.photo}}"  class='img-responsive col-xs-2'/>
     <p class='col-xs-10'>
       {{person.biography}}
     </p>
     {% if person.website %}
        <a href="{{person.website}}">Website</a> |
	       {% endif %}
     {% if person.orcid %}
        <a href="{{person.orcid}}">Orcid</a> |
         {% endif %}
     {% if person.googlescholar %}
        <a href="{{person.googlescholar}}">Scholar</a> |
   	    {% endif %}
     {% if person.researchgate %}
        <a href="{{person.researchgate}}">ResearchGate</a> |
      	{% endif %}
     {% if person.github %}
           <a href="{{person.github}}">GitHub</a> |
         	{% endif %}
     {% if person.linkedin %}
        <a href="{{person.linkedin}}">LinkedIn</a> |
        {% endif %}
     {% if person.twitter %}
        <a href="{{person.twitter}}">Twitter</a> |
        {% endif %}
     {% if person.email %}
        <a href="mailto:{{person.email}}">Email</a>
        {% endif %}
    {% endfor %}
      <!--  end postdocs loop -->

     <h3 class='page-header section-header'>Graduate Students</h3>
     <!-- do graduate students now -->
     {% assign grads = site.people | where:'role', 'Graduate Student' | sort:'seniority' %} <!-- select from the templates for graduate students -->
     {% for person in grads %} <!-- iterate through the matching grads -->
       <h4 class='page-header name-header'>{{ person.name }}</h4>
       <img src="{{site.baseurl}}/img/bio_img/{{person.photo}}"  class='img-responsive col-xs-2'/>
       <p class='col-xs-10'>
         {{person.biography}}
       </p>
       {% if person.website %}
          <a href="{{person.website}}">Website</a> |
  	       {% endif %}
       {% if person.orcid %}
          <a href="{{person.orcid}}">Orcid</a> |
           {% endif %}
       {% if person.googlescholar %}
          <a href="{{person.googlescholar}}">Scholar</a> |
     	    {% endif %}
       {% if person.researchgate %}
          <a href="{{person.researchgate}}">ResearchGate</a> |
        	{% endif %}
       {% if person.github %}
             <a href="{{person.github}}">GitHub</a> |
           	{% endif %}
       {% if person.linkedin %}
          <a href="{{person.linkedin}}">LinkedIn</a> |
          {% endif %}
       {% if person.twitter %}
          <a href="{{person.twitter}}">Twitter</a> |
          {% endif %}
       {% if person.email %}
          <a href="mailto:{{person.email}}">Email</a>
          {% endif %}
    {% endfor %}
      <!--  end graduate student loop -->

      <h3 class='page-header section-header'>Undergraduates</h3>
      <!-- do undergraduate students now -->
      {% assign undergrads = site.people | where:'role', 'Undergraduate' | sort:'seniority' %} <!-- select from the templates for undergrads -->
      {% for person in undergrads  %} <!-- iterate through the matching undegrads -->
      <h4 class='page-header name-header'>{{ person.name }}</h4>
      <img src="{{site.baseurl}}/img/bio_img/{{person.photo}}"  class='img-responsive col-xs-2'/>
      <p class='col-xs-10'>
        {{person.biography}}
      </p>
      {% if person.website %}
         <a href="{{person.website}}">Website</a> |
 	       {% endif %}
      {% if person.orcid %}
         <a href="{{person.orcid}}">Orcid</a> |
          {% endif %}
      {% if person.googlescholar %}
         <a href="{{person.googlescholar}}">Scholar</a> |
    	    {% endif %}
      {% if person.researchgate %}
         <a href="{{person.researchgate}}">ResearchGate</a> |
       	{% endif %}
      {% if person.github %}
            <a href="{{person.github}}">GitHub</a> |
          	{% endif %}
      {% if person.linkedin %}
         <a href="{{person.linkedin}}">LinkedIn</a> |
         {% endif %}
      {% if person.twitter %}
         <a href="{{person.twitter}}">Twitter</a> |
         {% endif %}
      {% if person.email %}
         <a href="mailto:{{person.email}}">Email</a>
         {% endif %}
    {% endfor %}
    <!--  end undergrads loop -->

    <h3 class='page-header section-header'>Alumni</h3>
    <!-- do alumni now -->
    <div class="container-fluid">
        <div class='row'>
        {% assign alumni = site.people | where:'role', 'Alumni' | sort:'seniority' %} <!-- select from the templates for alumni -->
        {% for person in alumni  %} <!-- iterate through the matching alumni -->
            <div class="col-xs-3">
                <h4 class='page-header name-header'>{{ person.name }}</h4>
                <img src="{{site.baseurl}}/img/bio_img/{{person.photo}}"  class='img-responsive row-xs-3'/>
                <!-- <span> -->
                {% if person.website %}
                  <a href="{{person.website}}">Website</a> |
                  {% endif %}
                {% if person.orcid %}
                  <a href="{{person.orcid}}">Orcid</a> |
                  {% endif %}
                {% if person.email %}
                  <a href="mailto:{{person.email}}">Email</a>
                  {% endif %}
              <!-- </span> -->
            </div>
        {% endfor %}
        <!--  end alumni loop -->
        </div>
    </div>
  </div>
    </body>
{% include footer.html %}
{% include js.html %}
</html>
