<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    <h2 class='page-header'>People in the Lab</h2>

<div class='container'>
    <!-- PIs.  Use list just in case we want to add another prof -->
    {% assign professors = site.people | where:'role', 'Professor' %} <!-- select from the templates -->
    {% for person in professors sort_by:last %} <!-- iterate through the matching professors -->
    <h4 class='page-header name-header'>{{ person.name }}</h4>
    <img src="{{site.baseurl}}/img/bio_img/{{person.photo}}"  class='img-responsive col-xs-2'/>
    <p class='col-xs-10'>
      {{person.biography}}
    </p>
   <a href="{{person.website}}">Website</a> | <a href="{{person.twitter}}">Twitter</a> | <a href="{{person.email}}">Email</a> | <a href="{{person.orcid}}">Orcid</a> | <a href="{{person.linkedin}}">LinkedIn</a>
    {% endfor %}
     <!--  end professor loop -->

     <h3 class='section-header'>Postdoctoral Researchers</h3>
     <!-- do graduate students now -->
     {% assign postdocs = site.people | where:'role', 'Postdoc' %} <!-- select from the templates for postdocs -->
     {% for person in postdocs sort_by:last  %} <!-- iterate through the matching postdocs -->
     <h4 class='page-header name-header'>{{ person.name }}</h4>
     <img src="{{site.baseurl}}/img/bio_img/{{person.photo}}"  class='img-responsive col-xs-2'/>
     <p class='col-xs-10'>
       {{person.biography}}
     </p>
        <a href="{{person.website}}">Website</a> | <a href="{{person.twitter}}">Twitter</a> | <a href="{{person.email}}">Email</a> | <a href="{{person.orcid}}">Orcid</a> | <a href="{{person.linkedin}}">LinkedIn</a>
     {% endfor %}
      <!--  end postdocs loop -->

     <h3 class='section-header'> Graduate Students</h3>
     <!-- do graduate students now -->
     {% assign grads = site.people | where:'role', 'Graduate Student' %} <!-- select from the templates for graduate students -->
     {% for person in grads sort_by:last %} <!-- iterate through the matching grads -->
       <h4 class='page-header name-header'>{{ person.name }}</h4>
       <img src="{{site.baseurl}}/img/bio_img/{{person.photo}}"  class='img-responsive col-xs-2'/>
       <p class='col-xs-10'>
         {{person.biography}}
       </p>
            <a href="{{person.website}}">Website</a> | <a href="{{person.twitter}}">Twitter</a> | <a href="{{person.email}}">Email</a> | <a href="{{person.orcid}}">Orcid</a> | <a href="{{person.linkedin}}">LinkedIn</a>
     {% endfor %}
      <!--  end graduate student loop -->

      <h3 class='section-header'>Undergraduates</h3>
      <!-- do graduate students now -->
      {% assign undergrads = site.people | where:'role', 'Undergraduate' %} <!-- select from the templates for undergrads -->
      {% for person in undergrads  sort_by:last %} <!-- iterate through the matching undegrads -->
      <h4 class='page-header name-header'>{{ person.name }}</h4>
      <img src="{{site.baseurl}}/img/bio_img/{{person.photo}}"  class='img-responsive col-xs-2'/>
      <p class='col-xs-10'>
        {{person.biography}}
      </p>
        <h5>Contact</h5>
             <a href="{{person.website}}">Website</a> | <a href="{{person.twitter}}">Twitter</a> | <a href="{{person.email}}">Email</a> | <a href="{{person.orcid}}">Orcid</a> | <a href="{{person.linkedin}}">LinkedIn</a>
      {% endfor %}

  </div>
       <!--  end undergrads loop -->
    </body>
</html>
