<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    <h2 class='page-header'>People in the Lab</h2>


    <!-- PIs.  Use list just in case we want to add another prof -->
    {% assign professors = site.people | where:'role', 'Professor' %} <!-- select from the templates -->
    {% for person in professors | where:"role","Graduate Student"  %} <!-- iterate through the matching professors -->
      <h2 class='page-header'>{{ person.name }}</h2>
      <img src="{{person.photo}}" />
      <p>
        Role: {{person.role}}
      </p>
      <p>
        {{person.biography}}
      </p>
      <h5>Contact</h5>
      <ul>
        <li>
          Website: <a href="{{person.website}}">Web</a>
        </li>
        <li>
          Twitter: <a href="{{person.twitter}}">Twitter</a>
        </li>
        <li>
          Email: <a href="{{person.email}}">Email</a>
        </li>
        <li>
          Orcid: <a href="{{person.orcid}}">Orcid</a>
        </li>
        <li>
          LinkedIn: <a href="{{person.linkedin}}">LinkedIn</a>
        </li>
      </ul>
    {% endfor %}
     <!--  end professor loop -->

     <h3>Postdoctoral Researchers</h3>
     <!-- do graduate students now -->
     {% assign postdocs = site.people | where:'role', 'Postdoc' %} <!-- select from the templates for postdocs -->
     {% for person in postdocs  %} <!-- iterate through the matching postdocs -->
       <h2 class='page-header'>{{ person.name }}</h2>
       <img src="{{person.photo}}" />
       <p>
         Role: {{person.role}}
       </p>
       <p>
         {{person.biography}}
       </p>
       <h5>Contact</h5>
       <ul>
         <li>
           Website: <a href="{{person.website}}">Web</a>
         </li>
         <li>
           Twitter: <a href="{{person.twitter}}">Twitter</a>
         </li>
         <li>
           Email: <a href="{{person.email}}">Email</a>
         </li>
         <li>
           Orcid: <a href="{{person.orcid}}">Orcid</a>
         </li>
         <li>
           LinkedIn: <a href="{{person.linkedin}}">LinkedIn</a>
         </li>
       </ul>
     {% endfor %}
      <!--  end postdocs loop -->

     <h3> Graduate Students</h3>
     <!-- do graduate students now -->
     {% assign grads = site.people | where:'role', 'Graduate Student' %} <!-- select from the templates for graduate students -->
     {% for person in grads  %} <!-- iterate through the matching grads -->
       <h2 class='page-header'>{{ person.name }}</h2>
       <img src="{{person.photo}}" />
       <p>
         Role: {{person.role}}
       </p>
       <p>
         {{person.biography}}
       </p>
       <h5>Contact</h5>
       <ul>
         <li>
           Website: <a href="{{person.website}}">Web</a>
         </li>
         <li>
           Twitter: <a href="{{person.twitter}}">Twitter</a>
         </li>
         <li>
           Email: <a href="{{person.email}}">Email</a>
         </li>
         <li>
           Orcid: <a href="{{person.orcid}}">Orcid</a>
         </li>
         <li>
           LinkedIn: <a href="{{person.linkedin}}">LinkedIn</a>
         </li>
       </ul>
     {% endfor %}
      <!--  end graduate student loop -->

      <h3>Undergraduates</h3>
      <!-- do graduate students now -->
      {% assign undergrads = site.people | where:'role', 'Undergraduate' %} <!-- select from the templates for undergrads -->
      {% for person in undergrads  %} <!-- iterate through the matching undegrads -->
        <h2 class='page-header'>{{ person.name }}</h2>
        <img src="{{person.photo}}" />
        <p>
          Role: {{person.role}}
        </p>
        <p>
          {{person.biography}}
        </p>
        <h5>Contact</h5>
        <ul>
          <li>
            Website: <a href="{{person.website}}">Web</a>
          </li>
          <li>
            Twitter: <a href="{{person.twitter}}">Twitter</a>
          </li>
          <li>
            Email: <a href="{{person.email}}">Email</a>
          </li>
          <li>
            Orcid: <a href="{{person.orcid}}">Orcid</a>
          </li>
          <li>
            LinkedIn: <a href="{{person.linkedin}}">LinkedIn</a>
          </li>
        </ul>
      {% endfor %}
       <!--  end undergrads loop -->
    </body>
</html>
